<%- include('parts/header')%>
    <%- include('parts/navbar')%>
        <div class="container">
            <p class="alert alert-danger">
                some thing went wrong
            </p>
        </div>

        <%- include('parts/scripts')%>
            </body>

            </html>